*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 75%;
    margin: auto;
}

.wrapper > p,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}