html {
    direction: rtl;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: right;
}

header {
    background-color:#333;
    text-align: center;
    padding: 35px;
    border-bottom: 1px solid #ccc;
    
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    color: white;
}


#box1 {
    background-color: rgb(206, 205, 205);
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 17px;
}

label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"] {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-left: 5px;
    vertical-align: middle;
}

button {
    background-color: #4686fc;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background-color: #45a049;
}

h4 {
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 20px 0;
}

footer img {
    display: block;
    margin: 10px auto;
    width: 150px;
}


#buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 260px;
    flex-wrap: wrap;
}

input[type="text"]::placeholder {
font-size: medium;
text-align: center;

}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    header h3 {
        font-size: 14px;
    }

    #box1 {
        font-size: 15px;
        padding: 15px;
        margin: 10px;
    }

    button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .notice {
        font-size: medium;
    }

    input[type="text"] {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }

    header h3 {
        font-size: 12px;
    }

    #box1 {
        font-size: 14px;
        padding: 10px;
        margin: 5px;
    }

    button {
        padding: 6px 15px;
        font-size: 12px;
    }

    .notice {
        font-size: small;
    }

    input[type="text"] {
        max-width: 100%;
    }
}
